# NPM modules
node_modules

# Front-end build directories
build
tmp


# OS and other
.DS_Store
*.log
.exports
**/.exports

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python virtual environment
env

# PIP installer logs
pip-log.txt
pip-delete-this-directory.txt
