body {
    overflow-x: hidden;
}

.main-menu ul {
    height: auto;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(0, 183,255);
    padding: 15px;
}

.main-menu ul li {
    float: right;
}

.main-menu ul a {
    color: white;
}

.main-menu ul a:hover {
    color: #696969;
}

.logo {
    position: relative;
    top: -60px;
    left: 30px;
    width: 215px;
    height: 130px;
}

.title-about {
    padding: 0px;
    margin: 15px 15px 0 0;
    text-align: right;
    float: right;
    font-size: 34px;
    font-weight: bold;
    color: #696969;
}

.text-about p {
    margin: 10px 10px 10px 30px;
    text-align: justify;
    font-size: 18px;
    color: #525252;
}

.video-about video {
    margin-top: 10px;
    text-align: right;
    width: 650px;
    height: 350px;
}

.step-title {
    height: auto;
    background-color: rgb(0, 183,255);
    margin-top: 40px;
    font-weight: bold;
    color: #696969;
    text-align: center;
    padding: 35px 0 35px 0;
}

.step .row {
    margin: 30px 0 50px 0;
}

.fa-chevron-left, .fa-chevron-right, .fa-user-circle-o {
    color: #696969;
}

.chevron-left {
    margin-top: 70px;
    text-align: center;
}

.chevron-right {
    margin-top: 70px;
    text-align: center;
}
.step-guide h2 {
    text-decoration: underline;
    text-align: center;
    color: #696969;
    font-weight: bold;
}

.step-guide p {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    color: #696969;
}

.step text {
    font-size: 35px;
    font-weight: bold;
}

.testimonials-title {
    height: auto;
    background-color: rgb(0, 183,255);
    margin-top: 40px;
    font-weight: bold;
    color: #696969;
    text-align: center;
    padding: 35px 0 35px 0;
}

.testimonials .client {
    margin: 30px 20px 50px 0;
}

.user-photo {
    margin-top: 20px;
    text-align: center;
}

.user-photo img {
    width: 200px;
    height: 200px;
}

.chevron-opinion {
    margin-top: 90px;
    text-align: left;
}

.opinion h1 {
    text-align: center;
    color: #696969;
    font-weight: bold;
    margin-right: 15px;
}

.opinion p {
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
    color: #696969;
}

.fa-star {
    color: gold;
    float: right;
    margin-right: 5px;
}

.inspect-title h1 {
    height: auto;
    background-color: rgb(0, 183,255);
    margin-top: 60px;
    font-weight: bold;
    color: #696969;
    text-align: center;
    padding: 35px 0 35px 0;
}

.inspectmycv > h1 {
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    color: #696969;
}

.inspectmycv > p {
    font-size: 30px;
    text-align: center;
    color: #696969;
}

.form-inspect {
   position:relative;
   top:10%;
   left:12%;
}

.form-inspect label {
    color: #696969;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

button[type=reset], button[type=submit] {
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button[type=reset] {
    background-color: #696969;
}

button[type=submit] {
    background-color: rgb(0, 183,255);
    margin-left: 10px;
}

.contact-us-title h1 {
    height: auto;
    background-color: rgb(0, 183,255);
    margin-top: 40px;
    font-weight: bold;
    color: #696969;
    text-align: center;
    padding: 35px 0 35px 0;
}

.contact-us-p {
    font-size: 45px;
    font-weight: bold;
    color: rgb(0, 183,255);
    margin: 40px 0 0 130px;
}

.form-input .form-control {
    margin: 5px 0 10px 0;
    width: 500px;
}

.email, .telephone, .location {
    margin: 25px 0 0 50px;
    font-weight: bold;
    font-size: 27px;
    color: #696969;
    padding: 5px;
}

.contact-list .fa {
    color: rgb(0, 183,255);
    padding-right: 10px;
}

.form-input p {
    font-size: 16px;
    font-weight: bold;
    color: #696969;
    margin: 0px;
}

.cancel, .send {
    width: 100px;
    margin-bottom: 20px;
}

.cancel {
    margin-left: 290px;
}