
  .contact-us-title {
    @extend .block-title;
  }

  .contact-us-p {
    font-size: 45px;
    font-weight: bold;
    color: $prime-color;
    padding: 20px 0 0 100px;
  }

  .contact-list {
    .email,
    .location,
    .telephone {
      @extend .text-justify;
      padding: 10px 0 0 80px;
      font-weight: bold;
      font-size: 27px;
      color: $gray-color;
    }

    .fa {
      color: $prime-color;
      padding-right: 10px;
    }
  }
