.inspectmycv {
  .inspect-title {
    @extend .block-title;
    margin-top: 60px;
  }

   .promo-title {
    font-size: 60px;
    padding-top: 20px;
    @extend .text-center;
    color: $gray-color;
  }

   .promo-desc {
    font-size: 30px;
    @extend .text-center;
    color: $gray-color;
  }

  .form-inspect {
    margin: 30px 0 70px 400px;
    width: 510px;

    .label {
      padding: 5px 5px 5px 0;
      color: $gray-color;
      font-weight: bold;
      font-size: 16px;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
      margin: 5px 0;
      color: $gray-color;
      font-weight: bold;
      padding: 7px;
      font-size: 14px;

      input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        @extend .text-right;
        opacity: 0.2;
        outline: none;
        background: $gray-color;
        cursor: inherit;
        display: block;
      }
    }
  }
}
