.form-inspect {
  font-size: 14px;

  .label {
    padding: 5px 5px 5px 0;
    color: $gray-color;
    font-weight: bold;
    font-size: 16px;
  }

  .checkbox {
    color: $gray-color;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    margin: 5px 0;
    color: $gray-color;
    font-weight: bold;
    padding: 7px;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      opacity: 0.2;
      outline: none;
      background: $gray-color;
      cursor: inherit;
      display: block;
    }
  }
}
