// Normalize Styles
//@import 'node_modules/normalize.css/normalize';
// Import Modules
//@import '../_modules/link/link';
@import 'variables';

body {
  overflow-x: hidden;
}

.block-title {
  background-color: $bg-color;
  color: $white-color;
  font-size: $title-font;
  font-weight: bold;
  height: auto;
  margin-top: $title-margin;
  padding: $title-padding;
  text-align: center;
}

.main-menu {
  ul {
    height: auto;
    font-weight: bold;
    font-size: 25px;
    background-color: $bg-color;
    padding: 25px;

    li {
      float: right;
    }

    a {
      color: $white-color;

      &:hover {
        color: $gray-color;
      }
    }
  }
}

.logo {
  position: relative;
  top: -60px;
  left: 30px;
  width: 215px;
  height: 130px;
}

.title-about {
  padding: 0;
  margin: 15px 15px 0 0;
  text-align: right;
  float: right;
  font-size: 34px;
  font-weight: bold;
  color: $gray-color;
}

.text-about {
  text-align: justify;
  font-size: 18px;
  color: $gray-color;
  padding: 10px 30px;
}

.video-about {
  video {
    margin-top: 10px;
    text-align: right;
    width: 650px;
    height: 350px;
  }
}

.step {
  margin: 70px 0;

  .step-title {
    @extend .block-title;
  }
}

.step-guide-carousel {
  .step-guide-item {
    text {
      font-size: 35px;
      font-weight: bold;
    }

    .fa-chevron-left,
    .fa-chevron-right {
      color: $gray-color;
    }

    .chevron-left {
      margin-top: 70px;
      text-align: center;
    }

    .chevron-right {
      margin-top: 70px;
      text-align: center;
    }

    .step-guide {
      h2 {
        text-decoration: underline;
        text-align: center;
        color: $gray-color;
        font-weight: bold;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        text-align: justify;
        color: $gray-color;
      }
    }
  }
}

.testimonials {
  .testimonials-title {
    @extend .block-title;
  }

  .client {
    margin: 30px 20px 50px 0;

    .user-photo {
      img {
        margin: 20px 0 0 50px;
        width: 200px;
        height: 200px;
      }
    }

    .chevron-opinion {
      margin-top: 90px;
      text-align: left;
    }

    .opinion {
      h1 {
        text-align: center;
        color: $gray-color;
        font-weight: bold;
        margin-right: 15px;
      }

      p {
        font-size: 18px;
        text-align: justify;
        margin-top: 10px;
        color: $gray-color;
      }

      .fa-star {
        color: gold;
        float: right;
        margin-right: 5px;
      }
    }
  }
}

.inspectmycv {
  .inspect-title {
    @extend .block-title;
    margin-top: 60px;
  }

  > h1 {
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    color: $gray-color;
  }

  > p {
    font-size: 30px;
    text-align: center;
    color: $gray-color;
  }

  .form-inspect {
    margin: 30px 0 70px 400px;
    width: 510px;

    p {
      padding: 5px 5px 0 0;
      color: $gray-color;
      font-weight: bold;
      font-size: 16px;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
      margin: 10px 0;
      color: $gray-color;
      font-weight: bold;
      padding: 7px;
      font-size: 14px;

      input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        opacity: 0.2;
        outline: none;
        background: $gray-color;
        cursor: inherit;
        display: block;
      }
    }

    button[type=reset],
    button[type=submit] {
      border: none;
      color: $white-color;
      padding: 10px 20px;
      text-decoration: none;
      margin-top: 15px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
    }

    button[type=reset] {
      margin-left: 305px;
    }

    button[type=reset] {
      background-color: $gray-color;
    }

    button[type=submit] {
      background-color: $bg-color;
      margin-left: 10px;
    }
  }
}

.contact-us {
  .contact-us-title {
    @extend .block-title;
  }

  .contact-us-p {
    font-size: 45px;
    font-weight: bold;
    color: $prime-color;
    margin: 40px 0 0 130px;
  }

  .contact-list {
    .email,
    .location,
    .telephone {
      margin: 25px 0 0 50px;
      font-weight: bold;
      font-size: 27px;
      color: $gray-color;
      padding: 5px;
    }

    .fa {
      color: $prime-color;
      padding-right: 10px;
    }
  }

  .form-input {
    margin-top: 30px;

    p {
      font-size: 16px;
      font-weight: bold;
      color: $gray-color;
      margin: 0;
    }

    .form-control {
      width: 510px;
      margin: 5px 0;
    }

    .btn {
      border: none;
      width: 100px;
      margin-bottom: 20px;
      color: $white-color;
      padding: 10px 20px;
      text-decoration: none;
      margin-top: 15px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
    }

    .cancel {
      background-color: $gray-color;
      margin-left: 290px;
    }

    .send {
      background-color: $bg-color;
      margin-left: 10px;
    }
  }
}

.social {
  background-color: $prime-color;

  .social-title {
    @extend .block-title;
    text-align: left;
    margin-top: 0;
  }

  .social-links-group {
    @extend .block-title;
    margin-top: 0;

    .social-link {
      text-decoration: none;
      color: inherit;

      & + .social-link {
        margin-left: 15px;
      }

      &:hover {
        color: $gray-color;
      }
    }
  }
}

.footer {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  color: $gray-color;
}
