.main-menu {
  ul {
    height: auto;
    font-weight: bold;
    font-size: 25px;
    background-color: $bg-color;
    padding: 25px;

    li {
      @extend .pull-right;
    }

    a {
      color: $white-color;

      &:hover {
        color: $gray-color;
      }
    }
  }
}
