.step-guide-carousel {
  .step-guide-item {
    text {
      font-size: 35px;
      font-weight: bold;
    }

    .fa-chevron-left,
    .fa-chevron-right {
      color: $gray-color;
    }

    .chevron-left {
      margin-top: 70px;
      @extend .text-center;
    }

    .chevron-right {
      margin-top: 70px;
      @extend .text-center;
    }

    .step-guide {
      h2 {
        text-decoration: underline;
        @extend .text-center;
        color: $gray-color;
        font-weight: bold;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        @extend .text-justify;
        color: $gray-color;
      }
    }
  }
}
