.step-guide-carousel {
  .step-guide-item {
    .circle {
      @extend .text-center;
      border-radius: 50%;
      background-color: $prime-color;
      color: $gray-color;
      font-weight: bold;
      font-size: 30px;
      height: 100px;
      width: 100px;
      margin-top: 45px;
      padding: 27px 15px 0;
    }

    .fa-chevron-left,
    .fa-chevron-right {
      color: $gray-color;
      margin-top: 70px;
      @extend .text-center;
    }

    .step-guide {
      h2 {
        text-decoration: underline;
        @extend .text-center;
        color: $gray-color;
        font-weight: bold;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        @extend .text-center;
        color: $gray-color;
      }
    }
  }
}
